/* You can add global styles to this file, and also import other style files */

.boxCust {
    height: 100px !important;
    border: solid 2px grey;
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 1%;
    width: 35%;
    overflow: auto
}